.App {
  text-align: center;
  min-width: 50em;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  padding-top: 3em;
  font-weight: normal;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

hr {
  align: left;
  width: 50%;
  margin-top: 2em;
  margin-bottom: 2em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
